@media screen and (min-width: 1024px) {
  .dashboard_wrapper {
    .dashboard_card {
      h1 {
        font-size: 2rem;
      }

      .dashboard_form {
        form {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0 2rem;
        }
        .dashboard_form__button {
          width: fit-content;
          margin-left: auto;
        }
      }
    }
  }
}
