.project_list.dashboard_content__body {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #ffffff33;
  border-radius: 5px;

  .dashboard_content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1.3rem;
    }
  }

  .dashboard__table{
    tbody {
      td:nth-child(3) {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .project_list.dashboard_content__body {
    .dashboard_content__header {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
