@import "./styles/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300;400;700&display=swap");

:root {
  --background: #333333;
  --primary: #e4e4e4;
  --primary-light: #2c2c2c;
  --secondary: #00c4f0;
}
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--primary);
  line-height: 1.1;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  color: inherit;
  font-size: 0.98rem;
}

input {
  color: var(--primary);
}

select {
  @extend input;
}

.container {
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background-color: var(--secondary);
  padding: 1rem;
  box-shadow: 0 2px 13px rgba(0, 196, 240, 0.42);
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}
.button_small {
  padding: 0.5rem;
}
.active {
  max-width: fit-content;
  border-bottom: 3px solid var(--secondary);
}
.error {
  color: rgb(255, 0, 0);
}
.input-error {
  border: 1px solid red !important;

  ~ p {
    padding-top: 1rem;
  }
}
.pulse {
  animation: pulse 3s infinite;
}
.px-1 {
  padding: 0 1rem;
}
.flex-center {
  display: flex;
  align-items: center;
}
.dashboard_wrapper {
  margin-top: 1rem;
  .dashboard_card {
    padding: 2rem;
    border: 1px solid #ffffff33;
    border-radius: 5px;

    .dashboard_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;
    }
  }
  .dashboard_form {
    margin-top: 2rem;
    .dashboard_form__group {
      margin-bottom: 2rem;
      label {
        display: block;
        padding-bottom: 1rem;
      }

      input {
        padding: 1rem;
        width: 100%;
        height: 54px;
        border-radius: 5px;
        background-color: var(--primary-light);
        border: 1px solid #ffffff33;
        color: var(--primary);
        outline: none;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        &:focus,
        &:focus-visible {
          border: 1px solid var(--secondary);
        }
      }

      textarea {
        padding: 1rem;
        width: 100%;
        background-color: var(--primary-light);
        border: 1px solid #ffffff33;
        color: var(--primary);
        outline: none;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
      }

      input[type="checkbox"] {
        width: initial;
      }

      .toggle {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #2196f3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }
  }
  .dashboard_form__button {
    margin-top: 3rem;
    button {
      width: 100%;
    }
  }
}
.dashboard__table {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  margin-top: 2rem;

  table {
    display: table;
    width: 100%;
    overflow-x: auto;

    td,
    th {
      vertical-align: middle;
    }

    tr,
    th {
      & > * {
        padding: 2rem;
      }
    }

    thead {
      text-align: left;
      font-weight: bold;
      color: #ffffffac;
    }

    tbody {
      & tr:nth-child(odd) {
        background-color: var(--primary-light);
      }

      tr {
        padding: 3rem 0;
      }

      .table_icon {
        & > :nth-child(1) {
          padding-right: 1rem;
        }

        svg {
          cursor: pointer;
        }
      }
    }
  }
}
.pill_green {
  padding: 0.5rem;
  background-color: #008500;
  border-radius: 5px;
}
.pill_red {
  padding: 0.5rem;
  background-color: #c93a3a;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffffff33;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--background); /* or add it to the track */
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

@import "./styles/components/dashboard-login";
@import "./styles/components/sidebar";
@import "./styles/components/dashboard";
@import "./styles/components/topbar";
@import "./styles/components/projets-list";
@import "./styles/components/new-project";
@import "./styles/components/new-images";
@import "./styles/components/new-technology";
